.label {
  color: #374952;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
  width: 100%;
}

.input {
  border: none;
  border-bottom: 1px solid #4c4c4c;
  margin-top: 2em;
  width: 100%;
  outline: none;
}

::placeholder {
  color: #a5a5a5;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
  color: #a5a5a5;
  margin-bottom: 10px;
}

:-moz-placeholder {
  color: #a5a5a5;
  margin-bottom: 10px;
}

:-ms-input-placeholder {
  color: #a5a5a5;
  margin-bottom: 10px;
}

::-moz-placeholder {
  color: #a5a5a5;
  margin-bottom: 10px;
}
