.container-cobranca {
  display: flex;
  height: 230vh;
  flex-direction: row;
  width: 100%;
  background: lightgray;
}

.container-cobranca button {
  margin: auto;
}

.busca {
  margin-top: 1em;
  width: 100%;
}

table {
  width: 960px;
  margin: 20px auto;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  font-size: large;
}

.estilo-thead tr {
  height: 32px;
  background: #9dbbc3;
  border-radius: 8px;
  margin: 1em;
}

.estilo-tbody {
  background: #000000;
  padding: 1em;
}

.estilo-tbody tr {
  height: 48px;
  background: #ffffff;
  border-top: 10px solid lightgray;
}

.estilo-thead td {
  color: white;
}

.estilo-tbody td {
  color: #4c4c4c;
  padding: 0px;
}
