.container-home {
  display: flex;
  height: 230vh;
  flex-direction: row;
  width: 100%;
  background: lightgray;
}

.home-main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container-home button {
  margin: auto;
}
