body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 2em;
  width: 405px;
  height: 507px;
  border-radius: 1%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.container-centro {
  margin-top: 55px;
  width: 300px;
  height: 400px;
}
.logo {
  margin-left: 6em;
  width: 134.7px;
  height: 32px;
}

.input-borda {
  border: 1px solid #4c4c4c;
  width: 250px;
}

input {
  border: none;
}

form {
  display: flex;
  align-items: center;
  margin-left: 1em;
  flex-direction: column;
  flex-wrap: wrap;
}

form .senha {
  margin: 2em;
}

form .senha a {
  margin-left: 8em;
  font-size: small;
  color: grey;
}

form .email {
  margin: 2em;
  padding: 1em;
}

form .email input {
  margin: 2em;
}
.form-1 {
  text-align: left;
}

button {
  margin-left: 8em;
  margin-top: 1em;
  color: white;
  border: none;
  width: 166px;
  height: 39px;
  background: rgba(218, 1, 117, 0.35);
  border-radius: 20px;
}

.cadastro {
  margin-top: 3em;
  font-size: small;
  margin-left: 7em;
}

.senha-button {
  position: relative;
  display: flex;
  align-items: center;
}

.password-button {
  position: absolute;
  top: -40px;
  left: 100px;
  border: none;
  background-color: transparent;
  width: 5px;
  height: 5px;
}
